@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: black;
}

.container{
    display: flex;
    flex-direction: column;
}


/*styling the topbar */

.backarrow img{
    width: 25px;
}

.backarrow{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: 40px;
    height: auto;
    border-radius: 500px;
    background-color: gray;
}
.topbar{
    padding: 10px;
    background-color: black;
    height: auto;
}

/*Styling the header */
.header{
    display: flex;
    height: auto;
    width: auto;
    padding-top: 50px;
    padding-left: 20px;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(3deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    
    
    
    
}
.albimage{
    width: auto;
}

.albimage img:hover{
    width: 400px;
    border-radius: 10px;
    
    
}

.albimage img{
    width: 300px;
    border-radius: 1000px;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 10px;
    
    width: 1360px;
    height: 300px;
}

.description .info{
    display: flex;
    gap: 5px;
}

.description .type{
    font-weight: 500;
}

.description .Title{
    font-size: 100px;
    font-weight: 500;
    text-transform: uppercase;
}
.description .info img{
    border-radius: 50px;
}

.description .info .name{
    font-weight: 800;
}

/*Styling the Songs */

.songcontainer{
    height: auto;
    background-color: black;
}

.songs{
    display: flex;
    flex-direction: column;
    color: white;
    
}

.song:hover{
    background-color: grey;
}

.song{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 56px;
    margin: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.songinfo h1{
    font-size: 20px;
}

.songinfo p{
    font-size: 15px;
}

.bottom{
    display: flex;
    gap: 5px;
}