body{
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}


/* header/navbar  */

.header{
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    

}

.links{
    margin-top: 25px;
    padding: 0;
    display: flex;
    gap: 50px;
}



li{
    list-style: none;
    
}

/* Info Section */

.intro{
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    color: white;

}

img.headshot{
    margin-left: 25px;
    width: 200px;
    height: auto;
    border-radius: 25px;
}


.button button{
    
    background-color: #3882f6;
    color: white;
    border-radius: 25px;
    padding: 20px;
    padding-top: 5px;
    width: 100px;
    height: 10px;
    

}


/* Albums  */


.Albums{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}


.cards{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
}

.card1, .card2, .card3, .card4 {
    flex: 1 1 auto; 
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 250px;
    text-align: center;
    
}

img.albumcover{
    width: 200px;
    height: auto;
    border-radius: 25px;
}

.albumname{
    font-weight: 900;
    font-size: 25px;
    padding: 0;
    margin: 20px;
}


/* Quote  */

.quote{
    background-color: #E5E7EB;
    height: 300px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

blockquote {
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
    background-color: #f9f9f9;
    border-left: 10px solid #ccc;
}

.quotetext{
    height: 200px;
    text-align: center; 
}


/* Tickets  */

.tickets{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticketinfo{
    color: white;
    background-color: #3882f6;
    border-radius: 5px;
    width: 850px;
    display: flex;
    justify-content: space-between  ;
    
}

.text{
    padding-left: 20px;
    margin-bottom: 20;
}



.gettickets{
    padding-right: 20px;
    align-self: center;
    
}



.ticketsget.button{
    background-color: transparent;
    border: solid white;
    color: white;
    border-radius: 20px;
}

.footer{
    background-color: #1f2937;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
}


