/* header/navbar  */

.header{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

.links{
    margin-top: 25px;
    padding: 0;
    display: flex;
    gap: 16px;
}



li{
    list-style: none;
    
}

/* Info Section */

.intro{
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    color: white;

}

.headshot{
    margin-left: 25px;
}

.button button{
    
    background-color: #3882f6;
    color: white;
    border-radius: 25px;
    padding: 20px;
    padding-top: 5px;
    width: 100px;
    height: 10px;
    

}








/* Albums  */


.Albums{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}


.cards{
    margin: 0;
    padding: 0;
    display: flex;
    
    gap: 50px;
}

.card1{
    border-radius: 25px;
    border: solid blue;
    padding: 20px;
    width: 200px;
    height: 200px;
}

.card2{
    border-radius: 25px;
    border: solid blue;
    padding: 20px;
    width: 200px;
    height: 200px;
}

.card3{
    border-radius: 25px;
    border: solid blue;
    padding: 20px;
    width: 200px;
    width: 200px;
    height: 200px;
}

.card4{
    border-radius: 25px;
    border: solid blue;
    padding: 20px;
    width: 200px;
    height: 200px;
}


/* Quote  */

.quote{
    background-color: #E5E7EB;
    height: 300px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.quotetext{
    height: 200px;
    text-align: center; 
}


/* Tickets  */

.tickets{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticketinfo{
    color: white;
    background-color: #3882f6;
    border-radius: 5px;
    width: 850px;
    display: flex;
    justify-content: space-between;
    
}

.text{
    padding-left: 20px;
}


.gettickets{
    padding-right: 20px;
    align-self: center;
}


.ticketsget.button{
    background-color: transparent;
    border: solid white;
    color: white;
}

.footer{
    background-color: #1f2937;
    height: 50px;
    color: white;
    display: flex;
    justify-content: centerp;
}


