
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    font-family: "Roboto", sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}


/* header/navbar  */

.header{
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}

 h1{
    font-weight: 900;
    font-style: italic;
}

.header ul{
    font-style: italic;
    font-weight: 400;
}

.links{
    margin-top: 25px;
    padding: 0;
    display: flex;
    gap: 50px;
}



li{
    list-style: none;
    
}

/* Info Section */

.intro{
    min-height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    color: white;
    flex-wrap: wrap-reverse;
}

.main-title h1{
    margin: 0;
    text-transform: uppercase;
}

.bio{
    margin: 0;
    margin-bottom: 5px;
    font-weight: 300;
    line-height: 22px;
    
}

img.headshot{
    margin-left: 25px;
    width: 200px;
    height: auto;
    border-radius: 25px;
}


.button button{
    
    background-color: transparent;
    color: white;
    border-radius: 25px;
    border: solid white;
    padding: 20px;
    padding-top: 5px;
    width: 100px;
    height: 10px;
}




/* Albums  */


.Albums{

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    flex-wrap: wrap;
}


.cards{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    flex-wrap: wrap;
}


.card {
    flex: 1 1 auto; 
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 250px;
    text-align: center;
    border-left: 10px solid #ccc;
    
}

img.albumcover{
    width: 200px;
    height: auto;
    border-radius: 25px;
}


.albumname{
    font-weight: 900;
    font-size: 25px;
    padding: 0;
    margin: 20px;
}


/* Quote  */

.quote{
    background-color: #E5E7EB;
    background-image: url(../img/Davearmsout.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}



.quotetext{
    min-height: 200px;
    text-align: center; 
    color: white;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    border: 10px solid #ccc;
    padding: 50px;
    -webkit-text-stroke: 1px black;
    display: flex;
    flex-direction: column;
    
}

.quotetext h2{
    align-self: flex-end;
}

.quotetext strong{
    color: #0971F2;
}


/* Tickets  */

.tickets{
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.ticketinfo{
    color: white;
    background-color: #3882f6;
    border-radius: 5px;
    width: 850px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center  ;
    padding-left: 20px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ticketinfo .text h1{
    margin: 0;
}


.ticketinfo .text p{
    margin: 0;
    margin-bottom: 20;
}



.gettickets{
    padding-right: 20px;
    align-self: center;
    
}



.ticketsget.button{
    background-color: transparent;
    border: solid white;
    color: white;
    border-radius: 20px;
    margin-top: 5px;
}

.footer{
    background-color: #1f2937;
    min-height: 50px;
    color: white;
    display: flex;
    justify-content: center;
}


